body{
  display:flex;
  height:100vh;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  background-color: black;
  overflow: hidden;
}
section{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  background-color:RGB(107,188,190);
  height:800px;
  width:800px;
}
box{
  width:70px;
  height:100px;
  margin:15px;
  display: flex;  
  align-items: center;
  justify-content: space-between;  
}
div {  
  align-items: center;
  justify-content: center;
  background-color: white;  
}
.dot div{
  width: 12px;
  height: 12px;
  border-radius: 50%;  
}
.dot {
  animation: movedot 1s ease-in-out infinite;
}
@keyframes movedot {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(180deg);
  }
}
.square div{
  width: 10px;
  height: 45px;  
  animation: scalesquare 1s ease-in-out infinite;
}
@keyframes scalesquare {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
}
.square div:nth-child(2) {
  animation-delay: 0.1s
}
.square div:nth-child(3) {
  animation-delay: 0.2s
}
.square div:nth-child(4) {
  animation-delay: 0.3s
}
.square div:last-child {
  animation-delay: 0.4s
}